{% extends "base.html" %}
{% block content %}
{% if blog_list %}
<h1>Blog Posts</h1>
<ul>
{% for li in blog_list %}
    <li>
      <a href="{{ url_for('blogpost.blog_with_title', title=li) }}">{{ li }}</a>
      {% if logged_in %}
      <a href="{{ url_for('blogpost.draft_with_title', title=li) }}">edit as draft</a>
      <a href="{{ url_for('blogpost.blog_model_edit_by_title', title=li) }}">edit model</a>
      {% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
{% if content %}
<div style="-webkit-user-select: none; -webkit-touch-callout: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">
{{ content|safe }}
</div>
{% endif %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/base16/material-palenight.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js""></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
  hljs.highlightAll();
  var elm = document.getElementsByTagName('table')
  var length = elm.length;
  for (var i = 0; i < length; i++) {
    elm[i].className = elm[i].className + " table";
  };
  var bqs = document.getElementsByTagName("blockquote");
  var length = elm.length;
  for (var i = 0; i < length; i++) {
    elm[i].style.background = "#f9f9f9"
    elm[i].style.margin = "1.5em 10px"
    elm[i].style.padding = "0.5em 10px"
    elm[i].style.borderLeft= "10px solid #ccc"
  }
</script>
{% endblock %}
