{% extends "base.html" %}
{% block content %}
<form method="POST" style="margin-top: 2rem;">
  <h1>Draft</h1>
  <div class="form-group" style="margin-top: 1rem;">
    <label for="token">Auth</label>
    <input
      type="text"
      class="form-control"
      id="token"
      autocomplete="off"
      name="token"
    >
  </div>
  <div class="form-group" style="margin-top: 1rem;">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      autocomplete="off"
      name="title"
      value="{{ title }}"
    >
  </div>
  <div class="form-group" style="margin-top: 1rem;">
    <label for="content">Content</label>
    <textarea
      class="form-control overflow-auto"
      name="content"
      id="content"
      rows="20"
      autocomplete="off"
    >{{ content }}</textarea>
  </div>
  <div style="margin-top: 1rem;">
    <button class="btn btn-secondary" type="submit" formaction="{{ url_for('admin.preview') }}">Preview</button>
    <button class="btn btn-success" type="submit" formaction="{{ url_for('admin.save') }}">Save</button>
  </div>
</form>
{% endblock %}
