{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8 d-flex justify-content-center" >
<form method="POST" style="margin-top: 5rem; width: 80vw;">
<h1 class="d-flex justify-content-center">Time Wrap Portal</h1>
<div class="form-group">
  <input type="password" class="form-control" id="token" name="token" autocomplete="off">
</div>
<div class="d-flex justify-content-center" style="margin-top: 1rem;">
  <button class="btn btn-primary" type="submit" >Login</button>
</div>
</form>
</div>
<div class="col-lg-2"></div>
</div>
{% endblock %}
