{% extends "base.html" %}
{% block content %}
  <div class="d-flex justify-content-center">
    <img
      src="{{ url_for('static', filename='sam.webp') }}"
      class="rounded mx-auto d-block"
      style="height:250px;width:auto;padding: 0.5rem 0.5rem;"
      id="coverimg"
    >
  </div>
  <div style="text-align: center;"><h1>Cyberpunk Samoyed</h1></div>
  <div class="d-flex justify-content-center">
    <div class="input-group col-sm-7 input-group-lg">
      <input
        type="search"
        class="form-control"
        id="searchbox"
        aria-label="Search"
        onsearch="search(document.getElementById('searchbox').value)"
        autocomplete="off"
      >
    </div>
  </div>
  <span id="searchhelp"></span>
  <div style="padding: 1rem 1rem;">
    <div id="table" style="margin-left:auto;margin-right:auto"></div>
  </div>
  <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-content">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}