{% extends "base.html" %}
{% block content %}
  <div class="d-flex justify-content-center">
    <img
      src="{{ url_for('static', filename='sam.webp') }}"
      class="rounded mx-auto d-block"
      style="height:250px;width:auto;padding: 0.5rem 0.5rem;"
      id="coverimg"
    >
  </div>
  <div style="text-align: center;"><h1>Cyberpunk Samoyed</h1></div>
  <div class="d-flex justify-content-center">
    <form action="{{ url_for('main.index' )}}" method="POST" style="width: 80%">
    <div class="input-group col-sm-7 input-group-lg">
      <input
        type="text"
        class="form-control"
        id="searchbox"
        aria-label="Search"
        autocomplete="off"
        name="query"
      >
      </div>
    <button type="submit" class="btn btn-primary" hidden></button>
    </form>
  </div>
  {% if resp %}
  <p>{{ resp }}</p>
  {% endif %}
{% endblock %}