{% extends 'base.html' %}

{% block content %}
<form method="POST" style="margin-top: 5rem">
<div class="form-group">
  <label for="filename">Title</label>
  <input type="text" class="form-control" id="filename" name="filename" autocomplete="off">
</div>
<div class="form-group">
  <label for="formFileMultiple" class="form-label">File(s)</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>
<div style="margin-top: 1rem;">
  <button class="btn btn-success" type="submit" formaction="{{ url_for('blogpost.blog_upload') }}">Upload</button>
</div>
</form>
{% endblock %}
